langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-groq==0.1.9
langchain-text-splitters==0.2.2
langgraph==0.2.3
python-dotenv==1.0.1
chromadb==0.5.5
langchain-chroma==0.1.2
sentence-transformers==3.0.1
